## LoadAllData

In [1]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
data = pd.read_csv("villes_france.csv" , names = ['A'  + str(i) for i in range(26)])  
# Preview the first 5 lines of the loaded data 
data.sort_values(data.columns[15]).head()

/home/jip/.local/share/virtualenvs/ProjectsPython-r5a954P8/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/home/jip/.local/share/virtualenvs/ProjectsPython-r5a954P8/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/home/jip/.local/share/virtualenvs/ProjectsPython-r5a954P8/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A16,A17,A18,A19,A20,A21,A22,A23,A24,A25
27136,66,casefabre,CASEFABRE,casefabre,Casefabre,C160,KSFBR,66130,40,66040,...,5,6.99,2.61667,42.6167,309.0,47351.0,23653.0,423658.0,236.0,664.0
3224,9,tignac,TIGNAC,tignac,Tignac,T252,TKNK,09110,311,9311,...,5,3.53,1.78333,42.7500,-602.0,47496.0,14742.0,424446.0,720.0,1440.0
20417,54,vennezey,VENNEZEY,vennezey,Vennezey,V520,FNS,54830,561,54561,...,13,3.43,6.46667,48.4500,4591.0,53827.0,62806.0,482640.0,267.0,303.0
36371,2B,erone,ERONE,erone,Érone,E650,ERN,20244,106,2B106,...,1,3.89,9.27056,42.3723,7704.0,47080.0,91614.0,422220.0,429.0,982.0
36372,2B,lano,LANO,lano,Lano,L500,LN,20244,137,2B137,...,2,8.15,9.24751,42.3828,7679.0,47092.0,91451.0,422258.0,414.0,1335.0

In [ ]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
import matplotlib.pyplot as plt

data = pd.read_csv("villes_france.csv" , names = ['A'  + str(i) for i in range(26)])  
print(data['A5'])
print(data['A14'])
x = data['A5']
y = data['A14']
plt.scatter(x, y)
plt.show()